Customer sentiments.json
{
  "name": "Customer sentiments",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "f5607252-a420-441e-aa42-4d89500a1e32",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s",
          "mode": "list",
          "cachedResultName": "Customer segmentation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1392432581,
          "mode": "list",
          "cachedResultName": "customer sentiment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit#gid=1392432581"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e7f4cd13-14cd-40cb-9d4e-a8e2bc2cbc88",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1eYc58XYnwNvaKMB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "claude-sonnet-4-6"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a customer sentiment analyzer. Analyze this customer review and respond ONLY in valid JSON with this exact format:\n{\n  \"sentiment\": \"Positive\" or \"Negative\" or \"Neutral\" or \"Mixed\",\n  \"emotion\": \"one or two words describing the dominant emotion (e.g. frustrated, delighted, indifferent)\",\n  \"key_issue\": \"short phrase summarizing the main point, or 'None' if positive with no issue\",\n  \"urgency\": \"High\" or \"Medium\" or \"Low\"\n}\n\nCustomer review: {{ $json.review_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "c796bfa4-6e22-4d77-ab32-cf4fdc5c89c7",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "vgYvFWSw4kjnC7YL",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.content[0].text;\nconst clean = raw.replace(/```json|```/g, '').trim();\nconst parsed = JSON.parse(clean);\n\n// Get the ORIGINAL row data from the Loop node, not from Anthropic's output\nconst original = $('Loop Over Items').item.json;\n\nreturn [{\n  json: {\n    feedback_id: original.feedback_id,\n    customer_name: original.customer_name,\n    review_text: original.review_text,\n    sentiment: parsed.sentiment,\n    emotion: parsed.emotion,\n    key_issue: parsed.key_issue,\n    urgency: parsed.urgency\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ],
      "id": "fe9bd1c9-99df-4f66-b542-cab53feb4c02",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "d0504c63-ad3f-43de-869b-bb073c5c821f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s",
          "mode": "list",
          "cachedResultName": "Customer segmentation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1392432581,
          "mode": "list",
          "cachedResultName": "customer sentiment",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit#gid=1392432581"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": 0,
            "feedback_id": "={{ $json.feedback_id }}",
            "customer_name": "={{ $json.customer_name }}",
            "review_text": "={{ $json.review_text }}",
            "Sentiment": "={{ $json.sentiment }}",
            "Emotion": "={{ $json.emotion }}",
            "Key_issue": "={{ $json.key_issue }}",
            "Urgency": "={{ $json.urgency }}"
          },
          "matchingColumns": [
            "feedback_id"
          ],
          "schema": [
            {
              "id": "feedback_id",
              "displayName": "feedback_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_text",
              "displayName": "review_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Emotion",
              "displayName": "Emotion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Key_issue",
              "displayName": "Key_issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        -176
      ],
      "id": "8103fd02-d691-4645-a800-e091ad410a50",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1eYc58XYnwNvaKMB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dc677587-5649-402b-8595-83e7993585e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df8e17d43dc6da51042a1a865a1f47b16727888e9877e10ecc30b3829bc1345c"
  },
  "nodeGroups": [],
  "id": "qFiK07zAL849QU9M",
  "tags": []
}