Customer segmentation.json
{
  "name": "Customer segmentation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8501e9ab-8f97-4e14-8914-54de75600be3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s",
          "mode": "list",
          "cachedResultName": "Customer segmentation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "d3580d94-5b57-4322-bd29-629ebd1fa0c5",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1eYc58XYnwNvaKMB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const d = item.json;\n  \n  const total_spend = Number(d.total_spend ?? d[\"total_spend \"] ?? 0);\n  const order_count = Number(d.order_count ?? d[\"order_count \"] ?? 0);\n  const name = d.name ?? d[\"name \"] ?? \"\";\n  \n  const daysAgoRaw = d.last_order_days_ago ?? d[\"last_order_days_ago \"] ?? 0;\n  const last_order_days_ago = typeof daysAgoRaw === 'string'\n    ? parseInt(daysAgoRaw.replace(/\\D/g, ''), 10) || 0\n    : Number(daysAgoRaw) || 0;\n\n  let segment = \"Regular\";\n  if (total_spend > 10000 && order_count > 5) segment = \"VIP\";\n  else if (last_order_days_ago > 90) segment = \"At Risk\";\n  else if (order_count === 1) segment = \"New Customer\";\n\n  return {\n    json: {\n      customer_id: d.customer_id,\n      name,\n      total_spend,\n      order_count,\n      last_order_days_ago,\n      segment\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "202a0646-53b5-4d19-8c0a-7aaefce667cc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s",
          "mode": "list",
          "cachedResultName": "Customer segmentation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1nu5FXKr6UN_xSKLctlIGpeiJ9v9SyW7vXnreUhnjc8s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "name ": "={{ $json.name }}",
            "total_spend ": "={{ $json.total_spend }}",
            "order_count": "={{ $json.order_count }}",
            "last_order_days_ago": "={{ $json.last_order_days_ago }}",
            "row_number": 0,
            "Segment": "={{ $json.segment }}"
          },
          "matchingColumns": [
            "customer_id"
          ],
          "schema": [
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name ",
              "displayName": "name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_spend ",
              "displayName": "total_spend ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_count",
              "displayName": "order_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_order_days_ago",
              "displayName": "last_order_days_ago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Segment",
              "displayName": "Segment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        0
      ],
      "id": "eff58ed0-1a97-462b-b4b3-06d81bca8d2e",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1eYc58XYnwNvaKMB",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c1cd8279-c79e-45d5-bca2-752bb0967ce2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "df8e17d43dc6da51042a1a865a1f47b16727888e9877e10ecc30b3829bc1345c"
  },
  "nodeGroups": [],
  "id": "VudKqjZeVNMZbBYR",
  "tags": []
}